{% extends 'base.html' %}
{% block main %}
<div>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <input type="text" value="username">
                <input type="password" value="password"> -->
        <button>Login</button>
    </form>
</div>
{% endblock main %}
